@import url('https://fonts.googleapis.com/css2?family=Instrument+Serif:ital,wght@0,400;1,400&family=Playfair+Display:wght@400;900&display=swap');
@import "tailwindcss";

@theme {
  --font-playfair: "Playfair Display", serif;
  --font-instrument: "Instrument Serif", serif;
}

@layer base {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
}

/* Scrollbar width */
::-webkit-scrollbar {
  width: 4px; 
}

/* background behind the thumb */
::-webkit-scrollbar-track {
  background: #171717; 
}

/* The draggable thumb */
::-webkit-scrollbar-thumb {
  background:#be3931;       
  border-radius: 999px;       
}

/* Thumb on hover */
::-webkit-scrollbar-thumb:hover {
  background:#3a3a3a; 
}

